.button {
	display: inline-block;
	border-radius: 3px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	border: 0 none;
	transition: 0.3s;
	outline: none;
	text-decoration: none;
}

.primary {
	background: $primary;
	color: $white;
}

.secondary {
	background: $greyVeryLight;
	color: $greyDark;
}

.success {
	background: $positive;
	color: $white;
}

.primary,
.secondary,
.success {
	&:hover {
		opacity: 0.8;
	}
}
