.title {
	height: 40px;
	margin-top: 60px;
	margin-bottom: 10px;
}

/* How can we pass this down when we don't know the children
 using this.props.children from another file */
.button {
	float: right;
}
