.item {
	position: relative;
	padding: 20px;
	border-bottom: 1px solid $greyVeryLight;
	cursor: pointer;
	transition: 0.3s;
	composes: clearfix from "../../../shared/utils.css";
	display: block;

	&:hover {
		background: $offWhite;

		.button {
			background: $greyVeryLight;
		}
	}

}

.title {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.description {
	font-size: 13px;
	color: $fontLighter;
	font-weight: 300;
}

.icon {
	float: left;
	margin-right: 15px;
	font-size: 40px;
	color: $fontLighter;
}

.button {
	float: right;
}

.body {
	float: left;
}
