.dropdown {
	overflow: hidden;
	background: white;
	border: 1px solid $greyVeryLight;
	background-repeat: no-repeat;
	background-position: 96% 50%;
	background-size: 14px 9px;
	display: inline-block;
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
}

.select {
	display: block;
	height: 100%;
	color: $fontMedium;
	border: 0;
	padding: 14px 42px 14px 14px;
	font-size: 16px;
	box-shadow: none;
	background: transparent;
	background-image: none;
	outline: none;
	cursor: pointer;
	appearance: none;
	width: 100%;
	text-indent: 0.01px;
	text-overflow: '';
	font-family: Arial;
	margin: 3px 0 0;
	position: relative;
	z-index: 2;

	&:focus {
		outline: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 black;
	}
	&::-ms-expand {
		display: none;
	}

}

@-moz-document url-prefix() {
	.select {
		width: 110%;
	}
}

.icon {
	position: absolute;
	top: 50%;
	font-size: 16px;
	margin-top: -8px;
	right: 20px;
	z-index: 1;
}
